extends layout

block content

  div(class = "container")
    div(class = "page-header") 
      h1(style = "color: #024dd9;") Welcome to Jukebox Quizz
      button( type ="submit" class="btn btn-primary btn-lg mr-2") Add classroom
      button( type ="button" class="btn btn-primary btn-lg mr-2") Add Quizz
      button( type ="button" class="btn btn-primary btn-lg mr-2") Edit Quizz
      button( type ="button" class="btn btn-primary btn-lg mr-2") Edit Profile
      p
      p
      p

  div(class = "jumbotron" style = "color:#f0f0f0")
      p(style = "color: #101010" class="display-4" ) Welcome to #{title}
      p
      li(style = "color: #101010" class="lead") The User <mark>#{username}</mark> details are as below <mark>#{fname}</mark> , <mark>#{lname}</mark> , <mark>#{stat}</mark> , <mark>#{school}</mark>

