extends layout

block content
    div(class = "container")
        h1 Login Form
        p Enter your Username and Password to Login
        div(class="form-group")
            form(action = "/login" method ="POST")
                label(for = "username") Username:   
                input(name = "username" id = "username" type = "text" class="form-control")
                label(for = "password") Password:   
                input(name = "password" id = "password" type = "password" class="form-control")
                p
                button(class = "btn btn-success btn-md" type = "submit") Log In
        