extends layout

block content
    div(class = "container")
        h1 Register Form
        p This is the registration form for Jukebox
        div(class = "form-group")
            form(action ="/register" , method ="POST")
                label(for = "em") Email:  
                input(id = "em" name = "email" type = "email"  placeholder = "abc@def.gh" class="form-control")

                label(for = "unam") Username:  
                input(id = "unam" name = "username" type = "text"  placeholder = "something" class="form-control")
                
                label(for = "em") Password:    
                input(id = "pass" name = "password" type = "password" class="form-control")
                
                label(for = "fname") First Name:     
                input(id = "fname" name = "firstName" type = "text"  placeholder = "John" class="form-control")
                
                label(for = "lname") Last Name:     
                input(id = "lname" name = "lastName" type = "text"  placeholder = "Doe" class="form-control")
                
                label(for = "schl") School:     
                input(id = "schl" name = "school" type = "text"  placeholder = "Some University" class="form-control")
                
                div(class="form-check form-check-inline")
                    input(id = "teacher" name = "stchr" type = "radio" value = "teacher" class="form-check-input")
                    label(for = "teacher" class="form-check-label") Teacher

                div(class="form-check form-check-inline")
                    input(id = "stud" name = "stchr" type = "radio" value = "student" class="form-check-input")
                    label(for = "stud" class="form-check-label") Student
                p
                button(type="submit" class = "btn btn-success btn-md") Submit
        